<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar livro</title>
    <link rel="stylesheet" href="/static/css/livros_editar.css" />
    {% include "menu.html" %}
</head>

<body>

    <ul>
        <form action="/livros/editar/{{livro['id']}}" method="POST">
            <input class="form-control form-control-lg" type="hidden" name="id" placeholder="Id"
                value="{{livro['id']}}">

            <br>
            <h3>Titulo</h3>
            <input class="form-control form-control-lg" type="text" name="titulo" placeholder="Titulo"
                value="{{livro['titulo']}}">

            <br>
            <h3>Autor</h3>
            <input class="form-control form-control-lg" type="text" name="autor" placeholder="Autor"
                value="{{livro['autor']}}">
            <br>

            <div id="btn_salvar">
            <button class="btn btn-primary" type="submit">Salvar</button>
            </div>

            <div id="btn_voltar">
                <a class="btn btn-warning" href="/livros/listagem">Voltar</a>
            </div>
        </form>

        <form action="/livros/deletar/{{livro['id']}}" method="POST">
            <input class="form-control form-control-lg" type="hidden" name="id" placeholder="Id"
                value="{{livro['id']}}">
            <div id="btn_deletar">
                <button class="btn btn-danger" value="id" href="/livros/listagem">Deletar</button>
            </div>
        </form>

    </ul>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
</body>

</html>