@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 100px;
  /* ajuste o tamanho conforme necessário */
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.search input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.search button {
  padding: 5px 10px;
  border: none;
  background-color: #555;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: column;
  }

  .search {
    margin-top: 10px;
  }
}