<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/menu_template.css"/>
</head>
<body>
    <header>
        <nav>
            <ul class="nav__links">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/livros/listagem">Livros</a></li>
                <li class="nav-item"><a class="nav-link" href="/autores/listagem">Autor</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>
</body>

</html>